a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


header {
    background: #C6B1E6;
}

header .container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;

}

header li {
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
}

.icons {
    margin-left: 300px;
}

.icons a {
    padding: 0 10px;
}

section {
    width: 40%;
    margin: 0 auto;
    color: #354657;

}

section p {
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
section h1{
    font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
}

article .photo {
    max-width: 100%;

}

.quote {
    padding: 0 0 20px 20px;

    border-left: 4px solid #946FD3;
}

.quote img {
    display: block;
    padding-bottom: 10px;
}

span {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.share {
    max-width: 100%;
    border-top: 1px solid #e2e2e2;
}
.share p{
    margin: 0;
    padding-bottom: 0;
}

footer {
    border-top: 1px solid #e2e2e2;

}

footer .container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

footer .social-icons{
    
}

footer li {
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}