body {
    background-color: #131313;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-position: top;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.navbar {
    height: 60px;
    border-bottom: 1px solid #272727;
}

.navbar-wrap {
    align-items: center;
    display: flex;

}

.navbar .container {
    height: inherit;
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar-logo, .navbar-card {
    display: inline-block;
    padding: 0 12px;
}

.navbar-card {
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid #272727;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
}

.navbar-menu li {
    padding: 0 12px;
    display: inline-block;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar-menu .current {
    text-decoration-line: line-through;
    color: #727272;
}

.main .container {
    width: 65%;
    margin: 50px auto 0;


}

.main .container .header {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 30px;
}

.main .table {
    width: 100%;
    border-collapse: collapse;

}


.main .table th {
    font-size: 13px;
    text-align: left;
    padding-left: 25px;
    text-transform: uppercase;
    color: #727272
}

.main .tbody td {
    font-size: 16px;
    padding-left: 25px;
}

.main .tbody tr {
    height: 55px;
    border: 1px solid #272727;
}

.pagination{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.pagination ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    
}

.pagination li{
display: inline-block;
padding: 0 20px;
}


