/*Макет має бути шириною від 800 пікселів до 1600 пікселів, 
якщо екран буде більше чим 1600 пікселів тоді сайт має центруватися, 
а з боків має бути червоний фон.
При наведені на картки, а також на кнопки курсор має змінюватися на 
progress.*/

html {
    background: #F7654A;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: white;
    max-width: 1600px;
    min-width: 800px;
    margin: 0 auto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.fisrt-screen {

    text-align: center;
    text-transform: uppercase;
}

.fisrt-screen .header {
    color: white;
    font-weight: 500;
    font-size: 64px;
}

.fisrt-screen .description {
    font-weight: 400;
    font-size: 18px;
    color: white;


}

.numbers {
    margin: 25% auto 0;
    background: #F7F7F7;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 57px;

}

.numbers .line1 {
    font-size: 72px;
    color: #F7654A;
}

.numbers .line2 {
    font-size: 36px;
    color: #000000;
}

.numbers .line3 {
    font-size: 18px;
    color: #999999;

}

.projects {
    margine-top: 100px;
    display: flex;
    flex-direction: column;

}

.projects h1 {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;

}

.projects-cards {
    display: flex;
    justify-content: space-between;
}

.project-card {
    max-width: 30%;
}

.project-card img {
    max-width: 100%;
}

.project-card .project-name {
    font-weight: 500;
    font-size: 24px;
    color: #404149;
    margin-top: 45px;
    padding: 15px;
    border-top: 6px solid #F7654A;
    width: 14%;
}

.project-card .project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

footer{
    width: 100%;
    margin: 150px  auto 0;
    background: #F7654A;
    padding: 40px 0;
}
.request{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;

}
.request-text :nth-child(1){
    font-size: 48px;
}
.request-text :nth-child(2){
    font-size: 24px;
}
.request-button{
    padding: 10px 20px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}
.request-button img{
    padding: 0 20px 0 0;

}