body {

    font-family: 'Montserrat', sans-serif;
    background-color: #201636;
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.block1 {
    width: 100%;

    display: flex;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
}

.block1 .container {
    position: absolute;
    width: 40%;
    margin: 200px 0 200px 50%;
}

.block1 .header {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block1 .header-text {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 80px 0 70px;
}

.block1 .header-task {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;

}

.block1 .header-task p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margine-bottom: 50px;
}

.block1 .start {
    display: flex;
    align-items: center;
    justify-content: flex-start
    
}

.start .button {
    width: 300px;
    height: 56px;
    background: #F09F0C;
    box-shadow: 0px 4px 20px #7D5103;
    text-decoration: none;
    

}
.start .start-date{
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    padding-right: 90px;
}

.start .button p {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: auto 20px;
}

.block2 {
    width: 100%;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    
}

.block2 .cards{
    display: flex;
    width: 60%;
    margin: 0 auto;
   padding: 130px 0 100px;   
}

.card {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
   text-align: center;
}
.card span{
    font-weight: 700;
}
.card .card-img {
    width: 100px;
    height: 100px;
}

.block2 .container{
    width: 100%;
    background-image: url(../img/questionmark.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
    height: 900px;
}
.block2 .container h1{
    font-weight: 900;
font-size: 36px;
text-align: center;

color: white;
}
.block2 .container h1 span{
    color: #F09F0C;;

}
.block2 .container p {
    font-weight: 400;
font-size: 24px;
text-align: center;
color: white;
padding: 20px auto 40px;

}
.statements li {
    width: 35%;
    margin-left: 50%;
    list-style-image: url();
    font-weight: 400;

    background: url(../img/Arrow.svg) no-repeat left center;
    padding: 5px 10px 5px 40px;
    list-style: none;
    vertical-align: middle;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;

}

